body {
  background-color: pink;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}


.box {

  border: 2px solid black;
  background-color: white;
  padding: 20px;



}