* {
    cursor: url(images/butterfly.png), auto;

}

body {
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;

}


h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

}



.pages {
    padding: 30px;
    list-style-type: none;
    text-align: center;

}

a {
    text-decoration: none;
}

.listofPages {
    display: inline;
    list-style-type: none;
    padding: 5px;

}


.myPage {

    background-color: rgb(18, 74, 116);
    color: white;
    border-radius: 20px;
    padding: 1rem;
    text-transform: uppercase;
    width: 40px;
    letter-spacing: -1px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, black 50%, rgb(30, 148, 171) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;


}


.myPage:hover {
    background-color: rgb(14, 28, 64);
    background-position: left bottom;
    border-radius: 1;

}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}


.imgpro {
    text-align: center;
    width: 200px;
    height: 210px;
}




.girlicon {
    border-radius: 50%;
    transition: 1s;
    width: 200px;
}

.girlicon:hover {
    border-radius: 0px;
    transition: 1s;
}

article,
footer {
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}

.card {
    border: 3px solid transparent;
}

.card:hover {
    border: 3px solid black;

}

.article1 {
    background-color: rgba(130, 237, 237, 0.661);
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;


}

.article1:hover {
    background-color: rgba(84, 166, 166, 0.962);

}

.article2 {
    background-color: rgba(0, 0, 0, 0.497);

}

.article2:hover {
    background-color: #000000;

}

h2 {
    text-align: center;
    font-size: 25px;
}

.education {
    list-style-type: none;
    padding: 5px;


}


.listofSchool {
    background-color: rgba(255, 255, 255, 0.532);
    border-radius: 15px;
    margin: 10px;
    padding-top: -1px;
    content: normal;

}

.listofSchool:hover {
    background-color: white;
    border-radius: 10px;

}

h4 {
    padding: 2px;
    color: rgb(81, 79, 79);
    font-size: 22px;
    text-align: center;

}

.nameofSchool {
    font-size: 18px;
    list-style: square;
    margin-top: -10px;
    padding: 2px;

}

.article3 {
    background-color: rgba(0, 198, 233, 0.707);

}

table,
th,
tr,
td {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    width: auto;
}

.article3:hover {
    background-color: rgba(0, 198, 233, 0.868);

}



th {
    background-color: rgb(0, 151, 177);
}


.article4 {
    background-color: rgba(251, 251, 251, 0.654);


}

.article4:hover {
    background-color: rgb(152, 152, 152);

}

.projecsLink {
    background-color: #0000006e;
    padding: 2px 3px;
    border-radius: 3px;
    color: white;
    margin: 4px;
    font-size: 15px;

}

.projecsLink:hover {
    background-color: #000000;
    font-size: 18px;

}

.nameofProjects {
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}


.projectscard {
    transition: 1s;
    border: 3px solid transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    margin: 20px;

}

.projectscard:hover {
    border: 3px solid black;
    border-radius: 50px;
    transition: 1s;
}

.imgpro {
    width: auto;
    position: relative;

}

.project1 {
    background-color: rgba(105, 245, 252, 0.542);
    color: white;
   

}

.project1:hover {
    background-color: rgba(105, 245, 252, 0.791);

}


.project2 {
    background-color: rgba(0, 0, 0, 0.428);
    color: beige;

}

.project2:hover {
    background-color: rgba(0, 0, 0, 0.732);

}


.project3 {
    background-color: rgba(105, 245, 252, 0.542);
    color: beige;

}

.project3:hover {
    background-color: rgba(105, 245, 252, 0.791);

}

.form1 {
    background-color: rgba(0, 0, 0, 0.556);
    padding: 20px;
    color: white;
    text-align: center;
    margin: 30px;
}


.form1:hover {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.701);
    border: 3px solid black;

}

.connect {
    background-color: rgba(249, 242, 242, 0.288);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;


}

.connect:hover {
    background-color: rgba(255, 255, 255, 0.604);
    border: 3px solid black;
}



.email {
    width: 250px;
    height: 45px;
    border-radius: 45px;
    text-align: center;
    margin-bottom: 25px;

}

textarea {
    text-align: center;
    width: 300px;
    height: 100px;
    margin-bottom: 25px;
}

.submit {
    width: 200px;
    height: 45px;
    background-color: rgb(140, 217, 253);
    border: none;
    outline: none;
    border-radius: 45px;


}

.submit:hover {
    background-color: rgb(56, 182, 241);

}


.socialmedia {
    width: 50px;
    height: 50px;
    text-align: center;

}

.socialmedia:hover {
    transform: scale(1.3);
}


footer {
    background-color: rgb(69, 69, 69);
    color: white;
    text-align: center;

}