body{
    background-image: url(images/sidebar-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    background-color: rgba(0, 0, 0, 0.446);
}



article, h1{
    background-image: url(images/sidebar-1.jpg);
    color: blue;
}