body{
    background-image: url(images/sidebar-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    background-color: rgba(0, 0, 0, 0.446);
}

h1{
    color: blue;
}


article{
    background-color: rgb(170, 219, 254);
    color: blue;
}