h1{
    background-color: pink;
    color: darkorchid;
    font-size: 30px;
    padding: 8px;
    
}
h2{
    background-color: palevioletred;
    color: white;
    font-size: 22px;
    padding: 8px;
}
p{
    background-color: orchid;
    color: whitesmoke;
    width: 400px;
}
