* {
    padding: 0;
    margin: 0;
    cursor: url(assets/icons/page/cursor.png), auto;


}

/*variables*/
:root {
    --bg-color: red;
}

/*global*/

.dFlex {
    display: flex;
    align-items: center;
}

.dGrid {
    display: grid;
}

.gap20 {
    gap: 20px;
}

.space-between {
    justify-content: space-between;
}


.content-center {
    justify-content: center;
    align-items: center;
}

.Graytxt {
    color: gray;
}

.mainCards {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
}


.bgRed {
    background-color: var(--bg-color);
}

.bgGreen {
    background-color: rgb(105, 192, 105);
}

.bgOrange {
    background-color: rgb(255, 184, 52);
}

.bgPink {
    background-color: rgb(242, 92, 117);
}

.bgBlue {
    background-color: rgb(56, 166, 218);
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}


.cardsLogo {
    transform: translateY(-35px);
    border-radius: 2px;

}

.text-center {
    text-align: center;
}

h3 {
    font-size: 20px;
    font-style: oblique;
}

.marginT60 {
    margin-top: 60px;
}

/*body*/

body {
    grid-template-columns: auto 1fr;
    background-color: rgba(0, 0, 0, 0.149);
    font-family: "Roboto", sans-serif;
    height: 100vh;

}

/*aside*/

.sidebar {
    background-image: url(assets/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    overflow-y: scroll;

}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.sidebar>div {
    grid-template-columns: auto 1fr auto;
    gap: 1.3rem;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}

.hoverBg:hover {
    background-color: rgba(255, 255, 255, 0.388);
}

.Fullpage {
    margin: 20px 30px;
    padding: 10px;
    overflow-y: scroll;
    height: 100vh;

}

/*header*/



header>div>div>form>input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid gray;
}

header>div>div>form>input:focus {
    border-bottom: 2px solid rgb(144, 20, 144);
    transition: 0.5s;
}

.notifications {
    position: relative;
}

.notificationsnumber {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: var(--bg-color);
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    padding: 3px;
    font-size: 12px;
}

.newNotifications {
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 13px;
    width: 200px;
}

.notifications:hover .newNotifications {
    display: grid;
}

.newNotifications>div:hover {
    background-color: var(--bg-color);
    color: white;
    border-radius: 2px;
}


.circle {
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.headerMedia {
    display: none;
}



/*main*/


.fCardTittle {
    grid-template-columns: auto 1fr;
}


.TopLocations {
    grid-template-columns: 1fr 3fr;
}


.Info-states {
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    margin: 5px;
}

.flags {
    width: 20px;
}

.map {
    height: 300px;
    width: 100%;
}


.quote {
    gap: 5px;
    margin-bottom: -10px;
}

.aboutHotel {
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}

.Info {
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;
}

.Cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;

}

.CardFig>img {
    width: 100%;
    transform: translateY(-40px);
    border-radius: 2px;
    transition: transform 1s ease;

}

.CardFig:hover {
    transform: translateY(-35px);

}


.cardOptions {
    margin: -70px 0 10px 0;

}

@media (max-width: 1000px) {

    .sidebar {
        display: none;
    }

    .TopLocations {
        display: flex;
        flex-direction: column;

    }

    .Cards {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .mainHeader {
        display: none;
    }

    .headerMedia {
        display: flex;
        justify-content: space-between;
    }


}

@media (max-width: 600px) {
    .aboutHotel {
        grid-template-columns: 1fr;

    }
}