/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    cursor: url(assets/icons/page/cursor.png), auto;


}

/*variables*/
:root {
    --bg-color: red;
}

/*global*/

.dFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dGrid {
    display: -ms-grid;
    display: grid;
}

.gap20 {
    gap: 20px;
}

.space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.Graytxt {
    color: gray;
}

.mainCards {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
}


.bgRed {
    background-color: var(--bg-color);
}

.bgGreen {
    background-color: rgb(105, 192, 105);
}

.bgOrange {
    background-color: rgb(255, 184, 52);
}

.bgPink {
    background-color: rgb(242, 92, 117);
}

.bgBlue {
    background-color: rgb(56, 166, 218);
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}


.cardsLogo {
    -webkit-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
            transform: translateY(-35px);
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);

}

.text-center {
    text-align: center;
}


.marginT60 {
    margin-top: 60px;
}

/*body*/

body {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    background-color: rgba(63, 62, 62, 0.149);
    font-family: "Roboto", sans-serif;
    height: 100vh;

}

/*aside*/

.sidebar {
    background-image: url(assets/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    overflow-y: scroll;

}

.border {
    border-top: 2px ridge gray;
    border-bottom: 2px ridge gray;
}

span {
    font-weight: 800;
}

.avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;

}

.sidebar>div {
    -ms-grid-columns: auto 1.3rem 1fr 1.3rem auto;
    grid-template-columns: auto 1fr auto;
    gap: 1.3rem;
    color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 5px;

}

.hoverBg:hover {
    background-color: rgba(255, 255, 255, 0.388);
}

.Fullpage {
    margin: 20px;
    overflow-y: scroll;
    height: 100vh;

}

/*header*/



header>div>div>form>input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 5px;
}

header>div>div>form>input:focus {
    border-bottom: 2px solid rgb(144, 20, 144);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.notifications {
    position: relative;
}

.notificationsnumber {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--bg-color);
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    padding: 3px;
    font-size: 12px;
}

.newNotifications {
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 13px;
    width: 200px;
}

.notifications:hover .newNotifications {
    display: -ms-grid;
    display: grid;
}

.newNotifications>div:hover {
    background-color: var(--bg-color);
    color: white;
    border-radius: 3px;
}


.circle {
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.circle:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.headerMedia {
    display: none;
}



/*main*/


.fCardTittle {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
}


.TopLocations {
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
}


.Info-states {
    -ms-grid-columns: auto 10px 1fr 10px auto 10px auto;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    margin: 5px;
}

.flags {
    width: 20px;
}

.map {
    height: 300px;
    width: 100%;
}


.quote {
    gap: 5px;
    margin-bottom: -10px;
}

.aboutHotel {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}

.Info {
    -ms-grid-rows: 1fr 40px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;
}

.Cards {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;


}

.CardFig>img {
    width: 100%;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
    border-radius: 2px;

}

.CardFig {
    -webkit-transition: 0.5s -webkit-transform ease;
    transition: 0.5s -webkit-transform ease;
    -o-transition: 0.5s transform ease;
    transition: 0.5s transform ease;
    transition: 0.5s transform ease, 0.5s -webkit-transform ease;


}



.ListingCard:hover .CardFig {
    -webkit-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
            transform: translateY(-35px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.ListingCard {
    position: relative;
    -webkit-transition: 0.5s -webkit-transform ease;
    transition: 0.5s -webkit-transform ease;
    -o-transition: 0.5s transform ease;
    transition: 0.5s transform ease;
    transition: 0.5s transform ease, 0.5s -webkit-transform ease;
}


.cardOptions {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;

}

.ListingCard:hover .cardOptions {
    opacity: 1;
    -webkit-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}




@media (max-width: 1000px) {

    .sidebar {
        display: none;
    }

    .TopLocations {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

    }

    .Cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .mainHeader {
        display: none;
    }

    .headerMedia {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }


}

@media (max-width: 600px) {
    .aboutHotel {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

    }
}