p{
    width: 50%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
 
}

.section1::first-letter {
    initial-letter: 3;
    border-bottom: 3px solid red;
   padding-bottom:4px ;
}


.firstword{
    text-transform: uppercase;
}