p {
  background-color: gray;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  line-height: 20px;
  margin: 0 auto;
  
}



.firstletter {
  initial-letter: 3;
  font-size: 100px;
  line-height: 70px;
  border-bottom: 3px solid red;


}



.firstword {
  text-transform: uppercase;
  font-weight: bold;
}