p {
  width: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: gray;
}


.firstletter {
  initial-letter: 3;
  font-size: 100px;
  line-height: 70px;
  border-bottom: 3px solid red;


}



.firstword {
  text-transform: uppercase;
  font-weight: bold;
}